@import '../../styles/index.scss';

.modal {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 720px;
  padding: 40px 40px 60px;
  z-index: 1000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;

  border-radius: 40px;
  background-color: #fff;

  @media screen and (max-width: 1023px) {
    width: 450px;
    padding: 30px;
  }

  @media screen and (max-width: 767px) {
    width: 300px;
    padding: 20px;
  }
}

.close_button {
  position: absolute;
  right: 40px;
  width: 50px;
  background-color: transparent;
  cursor: pointer;
  transition: transform .2s linear;
  z-index: 100;
  font-size: 40px;

  &:hover {
    opacity: .5;
  }

  @media screen and (max-width: 1023px) {
    right: 30px;
  }

  @media screen and (max-width: 767px) {
    right: 20px;
  }
}